@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
}
/* === SHOOTING STAR BACKGROUND === */
.night {
  position: fixed;
  inset: 0;
  z-index: -1;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  transform: rotateZ(45deg);
}

.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #699bff);
  animation: tail 3000ms ease-in-out infinite,
             shooting 3000ms ease-in-out infinite;
}

.shooting_star::before,
.shooting_star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 255, 0),
    #5f91ff,
    rgba(0, 0, 255, 0)
  );
  transform: translateX(50%);
  border-radius: 100%;
  animation: shining 3000ms ease-in-out infinite;
}

.shooting_star::after {
  transform: translateX(50%) rotateZ(-45deg);
}

/* random positions + delay */
.shooting_star:nth-child(n) {
  top: calc(50% - 200px + random(400px));
  left: calc(50% - 300px + random(600px));
}

/* animations */
@keyframes tail {
  0% { width: 0; }
  30% { width: 100px; }
  100% { width: 0; }
}

@keyframes shining {
  0% { width: 0; }
  50% { width: 30px; }
  100% { width: 0; }
}

@keyframes shooting {
  0% { transform: translateX(0); }
  100% { transform: translateX(300px); }
}

